body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 0;

  min-height: 100vh;

  background-color: aqua;
}

.conteneur {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

#carrousel {
  width: 1200px !important;
  height: 200px !important;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

#container, #container2 {
  width: 400px;
  height: 200px;

  display: flex;

  gap: 2px;
}

.contenu_carousel {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.photo_carousel {
  width: 400px;
  height: 200px;

  margin: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-size: cover;
}

    .photo_carousel:hover + .paraC {
      background-color: #d32424;
      display: block;
    }

.paraC {
  position: absolute;
  top: 150px;
  z-index: 1000;

  display: none;
  text-align: center;

  height: 50px;
  width: 400px;

  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  color: white;
}

.paraC p {
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.bouton {
  position: absolute;
  top: 69%;

  width: auto;

  background-color: transparent;

  cursor: pointer;

  transform: scale(1);
  transition: 0.5s;

  outline: none;
  border: none;

  margin: 0;
  padding: 0;

  overflow: visible !important;

  color: #172042;
}

    .bouton:hover {
      transform: scale(1.5);
      transition: 0.5s;
      color: red;
    }

#gauche {
  left: 14%;
}

#droit {
  right: 14%;
}