* {
    margin: 0;
    padding: 0;
   
    font-family: 'Bakbak One', cursive;
}


/*----------------------------------------------------------------- header --------------------------------------------------------------------*/

header {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    z-index: 100;
    top: 0;

    gap: 5%;

    background-color: white;

    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);

}



/*----------------------------- affichage menu deroulant page accueil --------------------------------*/

#menu {
    height: 100%;
    width: 35%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-bottom: 1px solid #1f305e; */

    background-color: white;
}

        .liste-accueil {
            height: 50%;
            width: 100%;

            list-style: none;

            display: flex;
            justify-content: center;
            align-items: center;
        }  

        .menu-deroulant-accueil {
            height: 100%;
            width: 50%;

            text-align: center;
        }

        .derouler {
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #172042;
            text-decoration: none;

            font-size: 120%;
        }

        .produit {
            color: #172042;
            text-decoration: none;
        }
          
          .sous-menu {
            margin-top: var(--hauteur-menu);
            width: 100%;
            text-align: left;
            overflow: hidden;
            max-height: 0;
            background-color: white;
            font-size: 120%;
          }
          
          .menu-deroulant-accueil:hover > .sous-menu {
            animation: apparitionSousMenu 1s forwards;
          }
          
          @keyframes apparitionSousMenu {
            0% {
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
              border-top: 3px solid #172042;
            }
            30% {
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
            }
            100% {
              max-height: 50em;
              border-top: 3px solid #172042;
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
            }
          }
          
          .sous-menu > .liste_sous_menu:hover {
            /* background-color: #172042; */
            background: rgb(31,46,94);
            background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);
          }
          
          .sous-menu > li > a {
            align-items: center;
            justify-content: center;
            display: flex;
            height: 50px;
            width: 100%;
          }
          
          .sous-menu > li:hover > a {
            color: white;
          }

          .menu-deroulant-accueil > a:after{
            content: '❯';
            font-size: 20px;
            margin-left: 7px;
            display: inline-block;
          }
          
          .menu-deroulant-accueil:hover > a:after{
            animation: rotationFleche 0.2s linear forwards;
          }
          
          @keyframes rotationFleche {
            0% {
              transform: rotate(0deg);
            }
            50% {
              transform: rotate(45deg);
            }
            100%{
              transform: rotate(90deg);
            }
          }

          /*----------------------------- fin affichage menu deroulant page accueil --------------------------------*/




          /*----------------------------- affichage menu deroulant pour autre page --------------------------------*/ 

          .accueil {
            height: 50%;
            width: 50%;

            display: flex;
            justify-content: end;
            align-items: center;

            color: #172042;
            text-decoration: none;
          }

              .accueil a {
                color: #172042;
                text-decoration: none;
                font-size: 120%;
              }

          .liste {
            height: 50%;
            width: 50%;

            list-style: none;

            display: flex;
            justify-content: center;
            align-items: center;
          }

              .menu-deroulant {
                height: 100%;
                width: 100%;

                text-align: center;
              }

              .menu-deroulant:hover > .sous-menu {
                animation: apparitionSousMenu 1s forwards;
              }
              
              @keyframes apparitionSousMenu {
                0% {
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
                  border-top: 3px solid #172042;
                }
                30% {
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
                }
                100% {
                  max-height: 50em;
                  border-top: 3px solid #172042;
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
                }
              }
    
              .menu-deroulant > a:after{
                content: '❯';
                font-size: 20px;
                margin-left: 7px;
                display: inline-block;
              }
              
              .menu-deroulant:hover > a:after{
                animation: rotationFleche 0.2s linear forwards;
              }
              
              @keyframes rotationFleche {
                0% {
                  transform: rotate(0deg);
                }
                50% {
                  transform: rotate(45deg);
                }
                100%{
                  transform: rotate(90deg);
                }
              }

              /*----------------------------- fin affichage menu deroulant pour autre page --------------------------------*/



#logo {
    height: 80%;
    width: 20%;

    display: flex;
    justify-content: center;

    background-color: white;
}

        #logo img {
            height: auto;
            width: 90%;
        }

#horaire-contact {
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* border-bottom: 1px solid #1f305e; */

    background-color: white;

    font-size: 120%;
}

.horaire, .contacts {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.horaire > a, .contacts > a {
  color: #172042;
  text-decoration: none;
}
/* 
        .formulaire {
            height: 100%;
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
        }

                .recherche {
                    height: 30%;
                    width: 80%;
                
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    text-align: center;

                    border: 1px solid #1f305e;
                    border-radius: 5px;
                }

                .recherche:focus {
                    outline: none;
                    border: 1px solid #1f305e;
                    border-radius: 5px;
                }

        .connex {
            height: 100%;
            width: 50%;
        
            display: flex;
            justify-content: start;
            align-items: center;
        } */
  
  /* nav {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
  }
  
  nav > ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  }
  

  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }
  
  nav > ul > li:hover > a{
    color: #2169EC;
  }
  
  nav > ul > li > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  } */
  
  
  
  /* .sous-menu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    overflow: hidden;
    max-height: 0;
    border-radius: 2px;
    background-color: white;
  }
  
  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }
  
  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid rgb(202, 182, 0);
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid rgb(202, 182, 0);
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }
  
  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li > a {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    width: 100%;
  }
  
  .sous-menu > li:hover > a {
    color: white;
  } */

  /*----------------------------------------------------------------- fin header --------------------------------------------------------------------*/




  /*----------------------------------------------------------------- nav --------------------------------------------------------------------*/

#produit_fav{
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #1b2750; */
    background: rgb(31,46,94);
    background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

 #produit_fav a {
    height: 100%;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-top: 20px;

    text-decoration: none;
}

.titre_fav {
    height: 40px;
    width: 150px;

    margin-top: 10px;
    font-size: 120%;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

    .titre_fav:hover {
        background-color: white;

        color:#141d3a;

        border:none;
        border-radius: 2px;
    }

.sandwich {
    height: 30%;
    width: auto;
    transform: scale(1);
    transition: 0.5s;
}
    .sandwich:hover {
        height: 30%;
        width: auto;
        transform: scale(1.2) rotate(-5deg);
        transition: 0.5s
    }

    .sandwich:hover + .titre_fav{
      background-color: white;

      color:#172042;

      border:none;
      border-radius: 2px;
    }



.boissons {
    height: auto;
    position: relative;
    width: 50%;
}

  /*----------------------------------------------------------------- fin nav --------------------------------------------------------------------*/
  

  

.separation {
  width: 50%;
  border-bottom: 1px solid #172042;

  position: relative;
  left: 25vw;
  z-index: -1;
}



  /*----------------------------------------------------------------- main --------------------------------------------------------------------*/

#page_accueil {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallerie {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 5%;
    margin-bottom: 5%;
}

#gallerie h1 {
  height: 60px;
  width: 70%;

  /* background-color:  #141d3a; */
  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  margin-bottom: 2%;

  border:none;
  border-radius: 4px;
}

.conteneur {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

#carrousel {
  width: 1200px !important;
  height: 200px !important;

  position: relative;
  overflow: hidden;
}

#container, #container2 {
  width: 400px;
  height: 200px;

  display: flex;

  gap: 2px;
}

.bouton {
  position: absolute;
  top: 69%;

  width: auto;

  background-color: transparent;

  cursor: pointer;

  transform: scale(1);
  transition: 0.5s;

  outline: none;
  border: none;

  margin: 0;
  padding: 0;

  overflow: visible !important;

  color: #172042;
}

    .bouton:hover {
      transform: scale(1.5);
      transition: 0.5s;
      color: red;
    }

#gauche {
  left: 14%;
}

#droit {
  right: 14%;
}

.photo_carousel {
  width: 400px;
  height: 200px;

  margin: 0;

  display: inline-block;

  background-size: cover;
}

.hover_photo_carousel {
  background-color: #d32424;
}

/* .ligne {
    height: 60vh;
    width: 85vw;

    display: flex;
    align-items: center;
    justify-content: center;
} */

.slider {
  height: 100%;
  width: 90%;

  display: flex;
  align-items: center;
  justify-content: center;
}

    .slick-next, .slick-prev  {
      color:#ffffff;

      height: 40px;
      width: 40%;

      background-color: #141d3a;
      background: rgb(31,46,94);
      background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);
 
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

      font-size: 100%;
      cursor: pointer;

      border:none;
      border-radius: 2px;

      transform: scale(1);
      transition: 0.5s;
    }

    .slick-next:hover, .slick-prev:hover  {
      transform: scale(1.1);
      transition: 0.5s;

      border:none;
      border-radius: 3px;
    }

.slick-track {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.slick-list {
  height: 100% !important;
  display: flex !important;
  justify-content: space-around;
  flex-direction: column;
}

.slick-slide {
  height: 100% !important;
  display: flex !important;
  justify-content: space-around;
  flex-direction: column;
}

.flex {
  height: 100%;
  width: 100% !important;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
}

.photo {
  height: 20vh !important;
  width: auto !important;
}

.astro {
  background: url("/assets/img/sandwich.jpg") center no-repeat;
  background-size: contain !important;
}

.dessert {
  background: url("/assets/img/sandwich.jpg") center no-repeat;
  background-size: contain !important;
}

.boisson {
  background: url("/assets/img/sandwich.jpg") center no-repeat;
  background-size: contain !important;
}

.panini {
  background: url("/assets/img/panini.png") center no-repeat;
  background-size: contain !important;
}

.pates {
  background: url("/assets/img/pates.png") center no-repeat;
  background-size: contain !important;
}

.salade {
  background: url("/assets/img/salades\ 2.png") center no-repeat;
  background-size: contain !important;
}

/* .photo {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: rgb(0, 0, 0);
    gap: 5%;
    
}

.photo img {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    border: 20px solid #1f305e;
} */

/* .flex h3 {
  font-size: 110%;
  font-weight: 400;
  color: #172042;
  margin-top: 3%;
}  */

.separation_principale {
  height: 5%;
  width: 50%;
  border-bottom: 1px solid #172042;
}

.titre_ouverture {
height: 5vh;
width: 35%;

margin-top: 3%;

display: flex;
align-items: center;
justify-content: center;

color: red;
font-weight: 400;

border: 2px solid #172042;
border-radius: 50px;
}

#horaires {
  height: 50vh;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 130%;

  color: #172042;
}

    .semaine {
      height: 100%;
      width: 25%;

      display: flex;
      align-items: center;
      flex-direction: column;

      margin-top: 5%;
    }

        .semaine div {
          height: 10%;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
        }

  /*----------------------------------------------------------------- fin main --------------------------------------------------------------------*/








  /*----------------------------------------------------------------- footer --------------------------------------------------------------------*/

footer {
    height: 25vh;
    width: 100%;

    /* background-color: #141d3a; */
    background: rgb(31,46,94);
    background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);
    border-top: 2px solid rgb(0, 0, 0);
    box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.3);
    }


#footer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.logo_footer {
    height: 100%;
    width: 15vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

        .logo_footer img {
            height: auto;
            width: 80%;
        }

.contact {
    height: 100%;
    width: 50vw;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    color: white;
}

        .adresse {
            height: 30%;
            width: 40vw;

            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 120%;
        }

        .tel {
            height: 30%;
            width: 40vw;

            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110%;
        }

        .mentions {
            height: 50%;
            width: 40vw;
            
            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 80%;
        }

.reseaux {
    height: 100%;
    width: 25vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white
}


    .reseaux p{
      font-size: 120%;

      margin-bottom: 3%;
    }

    

.fb_insta {
    height: 20%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .fb_insta a {
          color: white;
          text-decoration: none;

          display: flex;
          align-items: center;
          justify-content: center;

          gap: 10%;
        }
  /*----------------------------------------------------------------- fin footer --------------------------------------------------------------------*/




  /*----------------------------------------------------------------- page contact --------------------------------------------------------------------*/

#page_contact {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 5%;
  margin-bottom: 5%;
  }

    .para_contact {
      font-size: 140%;
      color: #172042;
    }

.contact_res_tel {
    height: auto;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2%;

    margin-bottom: 5%;
    margin-top: 2%;

    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);

    /* background-color: #141d3a; */
    background: rgb(31,46,94);
    background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

    border:none;
    border-radius: 4px;
}

    .contact_telephone {
        height: 35vh;
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border-right: 1px solid white;
      }

          .contact_telephone p {
            height: 60px;
            width: 100%;
          
            color: #ffffff;
          
            display: flex;
            align-items: center;
            justify-content: center;
          
            font-size: 120%;
          }

          .contact_telephone i {
            color: #ffffff;

            margin-bottom: 2%;
          }

          span {
            font-size: 130%;
          }

.contact_reseau {
  height: 35vh;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

    .contact_reseau p {
      height: 60px;
      width: 100%;

      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 120%;

      margin-bottom: 2%;
    }

    .contact_reseau a {
      height: 70px;
      text-decoration: none;
      color: white;
    
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15%;
      font-size: 110%;
    }

.contact_map {
    height: 50vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 2%;
}

    .contact_map p {
      height: 60px;
      width: 70%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 120%;
      color: white;

      margin-bottom: 3%;

      /* background-color: #141d3a; */
      background: rgb(31,46,94);
      background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);

      border:none;
      border-radius: 4px;
    }

    .contact_map iframe {
      height: 80%;
      width: 60%;
    
      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);

      border:none;
      border-radius: 4px;
    }

  /*----------------------------------------------------------------- fin page contact --------------------------------------------------------------------*/







  /*----------------------------------------------------------------- page sandwich --------------------------------------------------------------------*/

  
 /* Center website */
.main {
  height: 145vh;
  width: 80%;
  margin: 5% 10%;
  /* background-color: #141d3a17;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6); */
}

.main h2 {
  height: 60px;
  width: 70%;

  /* background-color:  #141d3a; */
  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  margin:auto;
  margin-bottom: 2%;

  border:none;
  border-radius: 4px;
}

.row {
  margin: 4% 0px;
}

/* Add padding BETWEEN each column */
/* .row,
.row > .column {
  padding: 8px;
} */

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
  height: 28vh;
}

.content h4 {
  margin-bottom: 10px;
}

.description {
      display: none;
      border:none;
      border-radius: 3px;
    }

    .image:hover + .description{
      color: white;

      /* background-color: #141d3a; */
      background: rgb(31,46,94);
      background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

      display: block;
      text-align: center;
      width: 100%;
      margin-top: 2%;
    } 

.image {
  width: 50%;
  transform: scale(1);
  transition: 0.5s;
}

    .image:hover {
      transform: scale(0.8) rotate(-5deg);
      transition: 0.5s;   
    }

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


#myBtnContainer {
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #141d3a; */
  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);

  gap: 1%;

  border:none;
  border-radius: 4px;
  }

/* Style the buttons */
.btn {
  padding: 12px 16px;
  background-color: transparent;

  color: #ffffff;
  cursor: pointer;

  font-size: 110%;
  border:none;
  border-radius: 2px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #172042;
}

.btn.active {
  background-color: rgb(255, 255, 255);
  color: #172042;
}

/*----------------------------------------------------------------- fin page sandwich --------------------------------------------------------------------*/
.main_panini {
  height: 100vh;
  width: 80%;
  margin: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_panini h2 {
  height: 60px;
  width: 70%;

  /* background-color:  #1b2750; */
  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  margin-bottom: 2%;

  border:none;
  border-radius: 4px;
}

/* Create three equal columns that floats next to each other */
.columns {
  float: left;
  width: 33.33%;
}



/*----------------------------------------------------------------- page formule --------------------------------------------------------------------*/

.contenu_formules {
  height: auto;
  width: 100%;
  background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%);

  position: relative;
  z-index: -100;
}

#formule_ocalme, #formule_gourmande {
  height: 75vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.formule_ocalme, .formule_gourmande {
  height: 30vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 5%;
}

    .formule_ocalme h2, .formule_gourmande h2 {
      height: 8vh;
      width: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: white;

      color: #172042;
      font-size: 140%;

      border: none;
      border-radius: 5px;

      box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    }

    .formule_ocalme p, .formule_gourmande p {
      height: 10vh;
      width: 90%;

      display: flex;
      align-items: center;
      margin-left: 5%;

      color: white;
      font-size: 110%;
      font-weight: 400;
      margin-top: 2%;
    }

#gallerie_ocalme {
  height: 35vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ligne_ocalme {
  height: 40vh;
  width: 85vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_ocalme {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_ocalme {
  height: 100%;
  width: 50% !important;
  margin-left: 2px;
  margin-right: 2px;
}

/*----------------------------------------------------------------- fin page formule --------------------------------------------------------------------*/

/*!----------------------------------------------------------------- image deco + bouton top --------------------------------------------------------------------*/

/*----------------------- deco accueil ---------------------------------*/

#fusee_accueil {
  height: auto;
  width: 30%;
  
  position: absolute;
  top: 50%;
  left: 10%;


  z-index: -110;

  opacity: 0.5;
}


#astronaute_accueil {
  height: auto;
  width: 20%;
  
  position: absolute;
  top: 198%;
  right: 5%;


  z-index: -100;

  opacity: 1;
}


#lune_accueil {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 324%;
  right: 60%;


  z-index: 0;

  opacity: 0.5;
}

/*----------------------- fin deco accueil ---------------------------------*/


/*----------------------- deco sandwich ---------------------------------*/

#fusee_sandwich {
  height: auto;
  width: 30%;
  
  position: absolute;
  top: 30%;
  left: 10%;


  z-index: -100;

  opacity: 0.2;
}


#astronaute_sandwich {
  height: auto;
  width: 20%;
  
  position: absolute;
  top: 141.5%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune_sandwich {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 206%;
  right: 60%;


  z-index: 0;

  opacity: 0.3;
}

/*----------------------- deco sandwich ---------------------------------*/

/*----------------------- deco contact ---------------------------------*/

#fusee_contact {
  height: auto;
  width: 30%;
  
  position: absolute;
  top: 20%;
  left: 10%;


  z-index: -100;

  opacity: 0.2;
}


#astronaute_contact {
  height: auto;
  width: 20%;
  
  position: absolute;
  top: 81.5%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune_contact {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 146%;
  right: 60%;


  z-index: 0;

  opacity: 0.3;
}

/*----------------------- fin deco contact ---------------------------------*/


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  
  border:none;
  border-radius: 4px;
  font-size: 120%; /* Increase font size */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 75px;
  height: 75px;
}

#myBtn:hover {
  color: red;
  background-color: #ffffff;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-angles-up {
  font-size: 140%;
}

/*!----------------------------------------------------------------- fin fin image deco + bouton top --------------------------------------------------------------------*/