

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  background-color: rgb(170, 15, 15);
  height: 200px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#cont {
  width: 500px;
  height: 100px;
  
  background-color: #eee;
 display: none;
}

#cont:target {
  display: block;
} */

.photo_carousel {
  height: 200px;
  width: 400px;
}

#paraC {
  position: absolute;
  z-index: 1000;
  top:0;

  visibility: hidden;

  height: 200px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,0.5) 37%, rgba(23,32,66,0.5) 100%);
 
}
#paraC:active {
 visibility: visible;
}

.paraC p {
  height: 100px;
  width: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
  border-radius: 2px;
}


.prenom {
  background-color: aqua;
  display: none;
}
.prenom1:focus + .prenom {
  display: block;
}

.nom:focus {
  background: yellow;
  color: lime;
}
