html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
   
    /* font-family: 'Bakbak One', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*----------------------------------------------------------------- header --------------------------------------------------------------------*/

#header_ordi {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    z-index: 1000;
    top: 0;

    gap: 5%;

    background-color: white;

    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);

}

#header_tel {
  display: none;
}

/*----------------------------- affichage menu deroulant page accueil --------------------------------*/

#menu {
    height: 100%;
    width: 35%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

        .liste-accueil {
            height: 50%;
            width: 100%;

            list-style: none;

            display: flex;
            justify-content: center;
            align-items: center;
        }  

        .menu-deroulant-accueil {
            height: 100%;
            width: 50%;

            text-align: center;
        }

        .derouler {
            height: 100%;
            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #172042;
            text-decoration: none;

            font-size: 120%;
        }

        .produit {
            color: #172042;
            text-decoration: none;
        }
          
          .sous-menu {
            margin-top: var(--hauteur-menu);
            width: 100%;
            text-align: left;
            overflow: hidden;
            max-height: 0;
            background-color: white;
            font-size: 120%;
          }
          
          .menu-deroulant-accueil:hover > .sous-menu {
            animation: apparitionSousMenu 2s forwards;
          }
          
          @keyframes apparitionSousMenu {
            0% {
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
              border-top: 3px solid #172042;
            }
            30% {
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
            }
            100% {
              max-height: 50em;
              border-top: 3px solid #172042;
              box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
            }
          }

          .sous-menu > .liste_sous_menu:hover {
            /* background-color: #172042; */
            background: rgb(41,59,117);
            background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
          }
          
          .sous-menu > li > a {
            align-items: center;
            justify-content: center;
            display: flex;
            height: 50px;
            width: 100%;
          }
          
          .sous-menu > li:hover > a {
            color: white;
          }

          .derouler i {
            font-size: 100% !important;
            transform: rotate(0deg);
            transition: 0.4s;
            margin-left: 5px;
          }

          .derouler:hover i {
            transform: rotate(90deg);
            transition: 0.4s;
          }

          /*----------------------------- fin affichage menu deroulant page accueil --------------------------------*/




          /*----------------------------- affichage menu deroulant pour autre page --------------------------------*/ 

          .accueil {
            height: 50%;
            width: 50%;

            display: flex;
            justify-content: end;
            align-items: center;

            color: #172042;
            text-decoration: none;
          }

              .accueil a {
                color: #172042;
                text-decoration: none;
                font-size: 120%;
              }
              
              .accueil a:after {
                display:block;
                content: '';
                border-bottom: 2px solid #141d3a;  
                transform: scaleX(0);  
                transition: transform 250ms ease-in-out;
              }

              .accueil a:hover:after {
                transform: scaleX(1)
              }

          .liste {
            height: 50%;
            width: 50%;

            list-style: none;

            display: flex;
            justify-content: center;
            align-items: center;
          }

              .menu-deroulant {
                height: 100%;
                width: 100%;

                text-align: center;
              }

              .menu-deroulant:hover > .sous-menu {
                animation: apparitionSousMenu 1s forwards;
              }
              
              @keyframes apparitionSousMenu {
                0% {
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
                  border-top: 3px solid #172042;
                }
                30% {
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
                }
                100% {
                  max-height: 50em;
                  border-top: 3px solid #172042;
                  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
                }
              }

              /*----------------------------- fin affichage menu deroulant pour autre page --------------------------------*/



#logo {
    height: 80%;
    width: 20%;

    display: flex;
    justify-content: center;

    background-color: white;
}

        #logo img {
            height: auto;
            width: 90%;
        }

#horaire-contact {
    height: 100%;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    font-size: 120%;
}

.horaire, .contacts {
  height: 100%;
  width: 50%;

  display: flex;
  justify-content: start;
  align-items: center;
}

.horaire > a, .contacts > a {
  color: #172042;
  text-decoration: none;
}

.horaire > a:after, .contacts > a:after {
  display:block;
  content: '';
  border-bottom: 2px solid #141d3a;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

.horaire > a:hover:after, .contacts > a:hover:after {
  transform: scaleX(1);
}

  /*----------------------------------------------------------------- fin header --------------------------------------------------------------------*/




  /*----------------------------------------------------------------- nav --------------------------------------------------------------------*/
#afficher_masquer {
  display: none;
}

#produit_fav {
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: rgb(41,59,117);
    background: linear-gradient(90deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
}
/* #produit_fav2 {
    height: 20vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url("../assets/img/etoiles.png");
    background-size: 20%;
} */

 #produit_fav a {
    height: 50%;
    width: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: none;

    gap: 20%;
}

.titre_fav {
    height: 20%;

    font-weight: 400;

    color:white;
    text-align: center;
}

.titre_fav:after {
  display:block;
  content: '';
  border-bottom: 2px solid white;  
  padding-bottom: 2px;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;

  
}
.fav:hover > .titre_fav:after {
  transform: scaleX(1);
}

    .fav:hover > .choix {
      transform: scale(1.2) rotate(-5deg);
      transition: 0.5s
    }

.choix {
    height: 55px;
    width: auto;
    transform: scale(0.9);
    transition: 0.5s;
}


  /*----------------------------------------------------------------- fin nav --------------------------------------------------------------------*/




  /*----------------------------------------------------------------- main --------------------------------------------------------------------*/

#page_accueil {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallerie {
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallerie h1 {
  height: 120px;
  width: 100%;

  background: rgb(41,59,117);
  background: linear-gradient(90deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

  color: white !important;
  font-size: 170%;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;


  border:none;
}

#slider {
  display: none;
}
.conteneur {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; 
}

.conteneur_tel {
  display: none;
}

#carrousel {
  height: 350px !important;
  width: 1650px !important;

  position: relative;
  overflow: hidden;

  display: flex;
}

#container, #container2 {
  height: 350px;
  width: 550px;

  display: flex;
}

.contenu_carousel {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 550px;
}

.photo_carousel {
  height: 350px;
  width: 550px;

  margin: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-size: cover;
}

    .photo_carousel:hover + .paraC {
      opacity: 1;
      transform: scale(1);
      transition: 0.5s;
    }

.paraC {
  position: absolute;
  z-index: 0;
  top:0;

  transition: opacity 1s ease-out;
  opacity: 0;

  height: 350px;
  width: 550px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,0.5) 37%, rgba(23,32,66,0.5) 100%);

  transform: scale(0);
  transition: 0.5s;
}

    .paraC:hover {
      opacity: 1;
      transform: scale(1);
      transition: 0.5s;
    }

.paraC p {
  height: 150px;
  width: 350px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid white;
  border-radius: 2px;
}

.bouton {
  position: absolute;
  top: 42.4%;

  height: 700px;

  cursor: pointer;

 
  transition: 0.5s;

  outline: none;
  border: none;

  margin: 0;
  padding: 1px 40px;

  overflow: visible !important;

  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 100%;
  font-weight: 400;

  
}

    #gauche, #droit {
      
      transition: 0.5s;
      color: #141d3a;
      background: rgb(255, 255, 255);
      background: linear-gradient(45deg, rgb(255, 255, 255) 36%, rgb(255, 255, 255) 100%);
    }

#gauche {
  left: 0% 
}
#gauche:hover {
  left: 0%;
  color: white;
  background: rgba(41,59,117,1); 

}

#droit {
  right: 0%;
}
#droit:hover {
  right: 0%;
  color: white;
  background: rgba(23,32,66,1);
}

.lni {
  font-size: 150% !important;
}

.slick-track {
  height: 100%;
  display: flex;
  justify-content: space-around;
}



/*--------------------- formule --------------------------------*/

.contenu_formules {
  height: auto;
  width: 100%;
  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
}
.contenu_formules2 {
  height: auto;
  width: 100%;
  background: url("../assets/img/etoiles.png");
  background-size: 50%;
}

#formule_ocalme, #formule_gourmande {
  height: 70vh;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.formule_ocalme, .formule_gourmande {
  height: 35vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

    .formule_ocalme h2, .formule_gourmande h2 {
      height: 60px;
      width: 50%;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgb(255, 255, 255);

      color: #172042;
      font-size: 140%;
      font-weight: 600;

      border: none;
      border-radius: 5px;
    }

    .formule_ocalme h2 {
      margin-top: 5%;
    }

    .formule_ocalme p, .formule_gourmande p {
      height: 10vh;
      width: 90%;

      display: flex;
      align-items: center;
      margin-left: 5%;

      color: white;
      font-size: 110%;
      font-weight: 400;
      margin-top: 2%;
    }

#gallerie_ocalme {
  height: 30vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ligne_ocalme {
  height: 30vh !important;
  width: 30vw !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_ocalme {
  height: 100% !important;
  width: 100% !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_ocalme {
  width: 30% !important;
  margin-left: 2px;
  margin-right: 2px;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex_ocalme img {
  height: 30vh !important;
  width: auto !important;
}

/*------------------ fin formule ---------------------*/

.titre_ouverture {
height: 5vh;
width: 35%;

margin-top: 3%;

display: flex;
align-items: center;
justify-content: center;

color: red;
font-weight: 600;
font-size: 130%;

border: 2px solid #172042;
border-radius: 50px;
}

#horaire {
  height: 50vh;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 130%;

  color: #172042;
}

    .semaine {
      height: 100%;
      width: 25%;

      display: flex;
      align-items: center;
      flex-direction: column;

      margin-top: 5%;
    }

        .semaine div {
          height: 10%;
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
        }

  /*----------------------------------------------------------------- fin main --------------------------------------------------------------------*/








  /*----------------------------------------------------------------- footer --------------------------------------------------------------------*/

#deco {
    height: 25vh;
    width: 100%;

    
    background: rgb(41,59,117);
    background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

    box-shadow: 0px -3px 9px 0px rgba(0,0,0,0.3);
    }
#deco2 {
    height: 25vh;
    width: 100%;

    background: url("../assets/img/etoiles.png");
    background-size: 25%;
    }


#footer {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.logo_footer {
    height: 100%;
    width: 15vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

        .logo_footer img {
            height: auto;
            width: 80%;
        }

.contact {
    height: 100%;
    width: 50vw;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

    color: white;
}

        .adresse {
            height: 30%;
            width: 40vw;

            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: flex-end;
            font-size: 120%;
        }

        .tel {
            height: 30%;
            width: 40vw;

            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110%;
        }

        .mentions {
            height: 50%;
            width: 40vw;
            
            position: relative;
            left: 6%;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 80%;
        }

.reseaux {
    height: 100%;
    width: 25vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white
}


    .reseaux p{
      font-size: 120%;

      margin-bottom: 3%;
    }

    
.fb_insta_tel {
  display: none;
}

.fb_insta {
    height: 20%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

    .fb_insta a {
          color: white;
          text-decoration: none;

          display: flex;
          align-items: center;
          justify-content: center;

          gap: 10%;
        }
  /*----------------------------------------------------------------- fin footer --------------------------------------------------------------------*/




  /*----------------------------------------------------------------- page contact --------------------------------------------------------------------*/

#page_contact {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-top: 5%;
  margin-bottom: 5%;
  }

    .para_contact {
      font-size: 140%;
      color: #172042;
    }

.contact_res_tel {
    height: auto;
    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2%;

    margin-bottom: 5%;
    margin-top: 2%;

    background: rgb(41,59,117);
    background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

    border:none;
    border-radius: 4px;
}

    .contact_telephone {
        height: 35vh;
        width: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border-right: 1px solid white;
      }

          .contact_telephone p {
            height: 60px;
            width: 100%;
          
            color: #ffffff;
          
            display: flex;
            align-items: center;
            justify-content: center;
          
            font-size: 120%;
          }

          .contact_telephone i {
            color: #ffffff;

            margin-bottom: 2%;
          }

          span {
            font-size: 130%;
          }

.contact_reseau {
  height: 35vh;
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

    .contact_reseau p {
      height: 60px;
      width: 100%;

      color: #ffffff;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 120%;

      margin-bottom: 2%;
    }

    .contact_reseau a {
      height: 70px;
      text-decoration: none;
      color: white;
    
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15%;
      font-size: 110%;
    }

.contact_map {
    height: 50vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 2%;
}

    .contact_map p {
      height: 60px;
      width: 70%;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 120%;
      color: white;

      margin-bottom: 3%;

      background: rgb(41,59,117);
      background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

      border:none;
      border-radius: 4px;
    }

    .contact_map iframe {
      height: 80%;
      width: 60%;
    
      box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.6);

      border:none;
      border-radius: 4px;
    }

  /*----------------------------------------------------------------- fin page contact --------------------------------------------------------------------*/







  /*----------------------------------------------------------------- page sandwich --------------------------------------------------------------------*/

  
 /* Center website */
.main {
  height: 165vh;
  width: 80%;
  margin: 5% 10%;
}

.main h2 {
  height: 60px;
  width: 70%;

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin: 4% 0px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
  margin: 2% 0px;
}

/* Content */
.content {
  padding: 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); */
  height: 30vh;
}

.content:hover > .description {
  color: #141d3a;

  background-color: rgba(255, 255, 255, 0.7);

  visibility: visible;
  text-align: center;
  width: 90%;
  border: 2px solid #141d3a;
}

.description {
  visibility: hidden;
  border:none;
  border-radius: 3px;
  height: 6vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h4 {
  margin-bottom: 10px;

  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

  height: 4vh;
  width: 70%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  border: none;
  border-radius: 3px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 20vh;
}

    .img:hover > .image {
      transform: scale(0.8) rotate(-5deg);
      transition: 0.5s;   
    }

.image {
  width: 100%;
  transform: scale(1);
  transition: 0.5s;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


#myBtnContainer {
  height: 140px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

  gap: 1%;

  border:none;
  border-radius: 4px;
  }

/* Style the buttons */
.btn {
  padding: 12px 16px;
  background-color: transparent;

  color: #ffffff;
  cursor: pointer;

  font-size: 100%;
  font-weight: 400;
  border:none;
  border-radius: 2px;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #172042;
}

.btn.active {
  background-color: rgb(255, 255, 255);
  color: #172042;
}

.categ_boutons {
  height: 60px;
}

/*----------------------------------------------------------------- fin page sandwich --------------------------------------------------------------------*/

.main_autre {
  height: 100vh;
  width: 80%;
  margin: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_autre h2 {
  height: 60px;
  width: 70%;

  /* background-color:  #1b2750; */
  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2%;

  border:none;
  border-radius: 4px;
}

.main_boisson {
  height: 100vh;
  width: 80%;
  margin: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main_boisson h2 {
  height: 60px;
  width: 70%;

  /* background-color:  #141d3a; */
  /* background: rgb(31,46,94);
  background: linear-gradient(45deg, rgba(31,46,94,1) 36%, rgba(23,32,66,1) 100%); */

  color: white !important;
  font-size: 170%;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;

  /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  margin:auto;
  margin-bottom: 2%;

  border:none;
  border-radius: 4px; */
}

/* Create three equal columns that floats next to each other */
.columns {
  float: left;
  width: 33.33%;
  margin: 2% 0px;
}


/*!----------------------------------------------------------------- image deco + bouton top --------------------------------------------------------------------*/

/*----------------------- deco accueil ---------------------------------*/

#fusee_accueil {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_accueil {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 218%;
  right: 10%;


  z-index: 1;

  opacity: 1;
}


#lune_accueil {
  display: none;
}

#lune2_accueil {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 325.6%;
  right: 60%;


  z-index: 1;

  opacity: 1;
}

/*----------------------- fin deco accueil ---------------------------------*/


/*----------------------- deco sandwich ---------------------------------*/

#fusee_sandwich {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_sandwich {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 174.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune2_sandwich {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 226%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}
#lune_sandwich {
  display: none;
}

/*----------------------- deco sandwich ---------------------------------*/


/*----------------------- deco autre ---------------------------------*/

#fusee_autre {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_autre {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 109.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune2_autre {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 161%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}
#lune_autre {
  display: none;
}

/*----------------------- deco autre ---------------------------------*/


/*----------------------- deco boisson ---------------------------------*/

#fusee_boisson {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_boisson {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 109.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune_boisson {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 161%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}

/*----------------------- deco boisson ---------------------------------*/

/*----------------------- deco contact ---------------------------------*/

#fusee_contact {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_contact {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 98.3%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune2_contact {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 149.5%;
  right: 60%;


  z-index: 0;

  opacity: 0.5;
}
#lune_contact {
  display: none;
}

/*----------------------- fin deco contact ---------------------------------*/


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 120%; /* Increase font size */
}

#myBtn:hover {
  color: red;
  background-color: #ffffff;
  border: 2px solid red;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 85px;
  width: 75px;
}

/*!----------------------------------------------------------------- fin image deco + bouton top --------------------------------------------------------------------*/






/*!----------------------------------------------------------------- responsive telephone --------------------------------------------------------------------*/


@media only screen and (min-device-width : 360px) and (max-device-width : 800px) {
  * {
    margin: 0;
    padding: 0;
   
    /* font-family: 'Bakbak One', cursive; */
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 500;
    font-size: 100%; */
}

body {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*----------------------------- header --------------------------------*/

#header_ordi {
    display: none;
}

#header_tel {
  height: 20vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: sticky;
  z-index: 100;
  top: -6vh;

  background-color: white;

  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.3);
}

#logo {
  height: 6vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

      #logo img {
          height: 70%;
          width: auto;
      }

#horaire-contact {
    height: 7vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;

    font-size: 80%;
}

.accueil, .horaire, .contacts {
  height: 100%;
  width: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.acccueil a, .horaire > a, .contacts > a {
  color: #172042;
  text-decoration: none;
}

.accueil a:after,  .horaire > a:after, .contacts > a:after {
  display:none;
}


#formule_tel {
  width: 100%;
  height: 7vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 80%;

  gap: 5%;
}

  #formule_tel a {
    padding: 7px 15px;
    /* height: 50%; */

    background: rgb(41,59,117);
    background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;

    text-decoration: none;

    border: none;
    border-radius: 3px;
  }

  /*----------------------------- fin header --------------------------------*/



  /*----------------------------- produit fav --------------------------------*/
  #produit_fav {
    display: none;
  }
  
  #afficher_masquer {
    display: flex;

    min-height: 4vh;
    max-height: auto;
    width: 100%;

    background: rgb(41,59,117);
    background: linear-gradient(90deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
  }
  
  .afficher_masquer {
    min-height: 4vh;
    max-height: auto;
    width: 100%;

    background: url("/assets/img/etoiles.png");
    background-size: 20%;
  }
  
  .collapsible {
    color: white;

    cursor: pointer;

    height: 6vh;
    width: 100%;

    border: none;

    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    outline: none;

    font-size: 80%;

    background-color: transparent;

    gap: 10%;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: transparent;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .contenu {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0;
    max-height: 0;
    width: 100%;
    transition: max-height 0.2s ease-out;
  }
  

  #produit_fav_tel {
    height: 200px;
    width: 100%;

    background: rgb(41,59,117);
    background: linear-gradient(90deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
}
#produit_fav2_tel {
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url("/assets/img/etoiles.png");
    background-size: 20%;

    flex-wrap: wrap;
    gap: 0%;
}

 #produit_fav2_tel a {
    height: 25%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-decoration: none;

    gap: 0%;
}

.titre_fav_tel {
    height: 40%;

    font-weight: 400;
    font-size: 80%;

    color:white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titre_fav_tel:after {
  display:none;
}

.choix_tel {
    height: 50%;
    width: auto;
    transform: scale(1);
    transition: 0.5s;

    display: flex;
    justify-content: center;
    align-items: center;
}


  /*----------------------------- fin produit fav --------------------------------*/


  /*----------------------------- carrousel auto --------------------------------*/
  .conteneur {
    display: none;
  }

  #gallerie {
    margin-top: 0%;
    margin-bottom: 0%;
    height: 6vh;

    background: rgb(41,59,117);
    background: linear-gradient(90deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
}

#gallerie h1 {
  height: 100%;
  width: 100%;

  font-size: 90%;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 0%;

  border:none;
  border-radius: 4px;
  background-color: transparent;

  background: url("/assets/img/etoiles.png");
  background-size: 20%;
}

#slider {
  display: block;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.slider-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.slider-container img {
  width: 100%;
  height: 100%;
}

#paraC {
  position: absolute;
  z-index: 1000;
  top:0;

  transition: opacity 1s ease-out;
  opacity: 0;

  height: 200px;
  width: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,0.5) 37%, rgba(23,32,66,0.5) 100%);
 
}
#paraC:target {
  opacity: 1;
}




.bouton {
  display: none;
}
/*----------------------------- fin carrousel auto --------------------------------*/


/*--------------------- formule --------------------------------*/
#lien_formule_gourmande {
  margin-bottom: 62%;
}
#lien_formule_ocalme {
  margin-bottom: 5%;
  position: absolute;
}

.contenu_formules {
  height: 70vh;
  width: 100%;
  background: rgb(41,59,117);
  background: linear-gradient(45deg, rgba(41,59,117,1) 37%, rgba(23,32,66,1) 100%);
}
.contenu_formules2 {
  height: 70vh;
  width: 100%;
  background: url("/assets/img/etoiles.png");
  background-size: 50%;
}

#formule_ocalme, #formule_gourmande {
  height: 35vh;
  width: 100%;
}

.formule_ocalme, .formule_gourmande {
  height: 20vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

    .formule_ocalme h2, .formule_gourmande h2 {
      height: 30px;
      width: 50%;

      font-size: 80%;
      font-weight: 600;
    }

    .formule_ocalme h2 {
      margin-top: 5%;
    }

    .formule_ocalme p, .formule_gourmande p {
      height: 8vh;
      width: 90%;

      display: flex;
      align-items: center;
      margin-left: 5%;

      color: white;
      font-size: 80%;
      font-weight: 400;
      margin-top: 5%;
    }

#gallerie_ocalme {
  height: 10vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3%;
}

.ligne_ocalme {
  height: 15vh !important;
  width: 30vw !important;
}

.slider_ocalme {
  height: 100% !important;
  width: 100% !important;
}
.slider_ocalme > .slick-list {
  height: 100% ;
  width: 100%;
}
.slider_ocalme > .slick-list > .slick-track {
  height: 100% ;
  width: 100%;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex_ocalme {
  height: 100% !important;
  width: 30vw !important;

  margin: 0;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.flex_ocalme img {
  height: 100% !important;
  width: auto !important;
}

/*------------------ fin formule ---------------------*/



/*------------------ horaire ---------------------*/
#horaires_tel {
  margin-top: 46%;
  position: absolute;
}

.titre_ouverture {
  height: 30px;
  width: 70%;
  
  margin-top: 10%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: red;
  font-weight: 600;
  font-size: 80%;
  
  border: 1px solid #172042;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  }
  
  #horaire {
    height: 40vh;
    width: 70%;
  
    font-size: 80%;
  }
  
      .semaine {
        height: 90%;
        width: 40%;
  
        margin-top: 5%;
      }
  
          .semaine div {
            height: 12%;
            width: 100%;

            font-weight: 600;
          }
/*------------------ fin horaire ---------------------*/

  /*----------------------------------------------------------------- footer --------------------------------------------------------------------*/



.logo_footer {
    display: none;
}

.contact {
    position: relative;
    z-index: 10;

    height: 100%;
    width: 50vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

        .adresse {
            height: 20%;
            width: 100%;

            font-size: 80%;
            justify-content: center;
            align-items: center;
        }

        .tel {
            font-size: 80%;
            height: 20%;
        }

        .mentions {
            height: 10%;
            width: 40vw;

            font-size: 50%;
        }

.reseaux {
    height: 100%;
    width: 45vw;
}


    .reseaux p{
      font-size: 80%;
    }

    

    .fb_insta {
      display: none;
    }
    
    .fb_insta_tel {
        height: 20%;
        width: 50%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fb_insta_tel a {
          color: white;
          font-size: 80%;
          text-decoration: none;

          display: flex;
          align-items: center;
          justify-content: center;

          gap: 10%;
        }
  /*----------------------------------------------------------------- fin footer --------------------------------------------------------------------*/

/*!----------------------------------------------------------------- image deco + bouton top tel --------------------------------------------------------------------*/

/*----------------------- deco accueil ---------------------------------*/

#fusee_accueil {
  height: 20%;
  width: auto;
  
  position: relative;
  top: -101%;
  left: 12%;
  z-index: 1;
  opacity: 1;
}


#astronaute_accueil {
  height: auto;
  width: 17%;
  
  position: relative;
  top: -16%;
  left: 65%;
  z-index: 1;
}


#lune2_accueil {
  display: none;
}
#lune_accueil {
  display: flex;
  height: auto;
  width: 40%;
  
  position: absolute;
  top: 58%;
  right: 60%;
  z-index: 1;
}

/*----------------------- fin deco accueil ---------------------------------*/


/*----------------------- deco sandwich ---------------------------------*/

#fusee_sandwich {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_sandwich {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 174.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune2_sandwich {
 display: none;
}
#lune_sandwich {
  display: block;
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 226%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}

/*----------------------- deco sandwich ---------------------------------*/


/*----------------------- deco autre ---------------------------------*/

#fusee_autre {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_autre {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 109.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}

#lune2_autre {
  display: none;
}

#lune_autre {
  display: block;
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 161%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}

/*----------------------- deco autre ---------------------------------*/


/*----------------------- deco boisson ---------------------------------*/

#fusee_boisson {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_boisson {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 109.8%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune_boisson {
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 161%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}

/*----------------------- deco boisson ---------------------------------*/

/*----------------------- deco contact ---------------------------------*/

#fusee_contact {
  height: 70%;
  width: auto;
  
  position: fixed;
  top: 30%;
  left: 20%;


  z-index: -110;

  opacity: 0.5;

  rotate: 315deg;
}


#astronaute_contact {
  height: auto;
  width: 15%;
  
  position: absolute;
  top: 98.3%;
  right: 10%;


  z-index: -100;

  opacity: 0.2;
}


#lune2_contact {
  display: none;
}
#lune_contact {
  display: block;
  height: auto;
  width: 25%;
  
  position: absolute;
  top: 149.5%;
  right: 60%;


  z-index: 0;

  opacity: 1;
}

/*----------------------- fin deco contact ---------------------------------*/


#myBtn {
  bottom: 23%; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
 
  font-size: 80%; /* Increase font size */
}


.top {
  height: 55px;
  width: 35px;
}

/*!----------------------------------------------------------------- fin image deco + bouton top tel --------------------------------------------------------------------*/
}